.obras {
    font-family: 'Barlow', sans-serif;
    background: var(--main-color);
    
}
.obras h2{
    margin-bottom: 4rem;
    text-align: center;
}
.obras-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.obras-container .obras-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.obras-box img{
    width: 100%;
    transition: .5s ease;
}
.obras-box:hover img{
    transform: scale(1.1);
}
.obras-box .obras-descricao{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, .1) var(--main-color));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}

.obras-box:hover .obras-descricao {
    transform: translateY(0);
}

.obras-descricao h4{
    font-size: 2rem;
}

